<nav class="bg-blue-800 p-4 flex justify-between items-center hidden ">
    <div class="flex items-center">
      <button id="toggleSidebar" class="text-white focus:outline-none">
        <i class="fas fa-bars"></i>
      </button>
      <a href="/" class="text-white font-bold text-xl ml-2">Admin Panel</a>
    </div>
    <div>
      <a href="/logout" class="text-white px-3 py-2 rounded hover:bg-blue-700">Logout</a>
    </div>
</nav>
  