<nav class="bg-blue-800 p-4 flex justify-between items-center relative">
    <div class="flex items-center">
      <button class="menu" style="background:none;border: none;">
        <i class="fas text-white fa-bars"></i>
      </button>
      <a href="/" class="text-white font-bold text-xl ml-2">Admin Panel</a>
    </div>
    <div>
      <a href="/admin/logout" class="text-white px-3 py-2 rounded hover:bg-blue-700">Logout</a>
    </div>
</nav>
  