<aside id="sidebar" class="bg-gray-800 text-white w-64 h-screen p-4  top-0 left-0 absolute">
  <i class="close absolute top-5 right-3 fa-solid fa-circle-xmark text-2xl cursor-pointer"></i> <!-- Close icon -->

    <h2 class="text-white text-xl font-bold mb-4">Admin Menu</h2>
    <ul class="space-y-2">
      <li>
        <a href="/admin/teacher-manage" class="block py-2 px-4 rounded hover:bg-blue-600">Manage Teachers</a>
      </li>
      <li>
        <a href="/admin/student-manage" class="block py-2 px-4 rounded hover:bg-blue-600">Manage Students</a>
      </li>
      <li>
        <a href="/admin/gallery" class="block py-2 px-4 rounded hover:bg-blue-600">Add Acheivements</a>
      </li>
      <li>
        <a href="/admin//chat-student" class="block py-2 px-4 rounded hover:bg-blue-600">Student Message</a>
      </li>
      <li>
      <li>
        <a href="/admin//chat-teacher" class="block py-2 px-4 rounded hover:bg-blue-600">Teacher Message</a>
      </li>
      <li>
        <a href="/admin/message" class="block py-2 px-4 rounded hover:bg-blue-600">Send Message</a>
      </li>
      <li>
        <a href="/admin/getData" class="block py-2 px-4 rounded hover:bg-blue-600">Get Data</a>
      </li>
    </ul>
  </aside>
  

  <script>
    const sidebar = document.querySelector('#sidebar');
    const closeSidebar = document.querySelector('.close');
    const menu = document.querySelector('.menu');

    // Close the sidebar
    if (closeSidebar) {
        closeSidebar.addEventListener('click', () => {
            sidebar.classList.add('hide');
        });
    }

    // Open the sidebar
    if (menu) {
        menu.addEventListener('click', () => {
            sidebar.classList.remove('hide');
        });
    }
</script>