<%- include('../components/header') %>
<body class="bg-black flex items-center justify-center min-h-screen">
    <div class="text-center p-4" style="color: #DEE6E8;">
        <div class="text-9xl sm:text-7xl md:text-8xl lg:text-9xl font-bold flex flex-wrap justify-center">
            <span>WR</span>
            <div class="text-9xl">
            <span class="inline-block border border-gray-300 rounded-full px-2 sm:px-3 md:px-4 py-1 sm:py-1.5 md:py-2">4</span>
            <span>O</span>
            <span class="inline-block border border-gray-300 rounded-full px-2 sm:px-3 md:px-4 py-1 sm:py-1.5 md:py-2">4</span>
            </div>
            <span>NG</span>
        </div>
        <div class="text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-bold mt-4">
            <span>HOUSE</span>
        </div>
        <div class="text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-bold mt-4">
            <span>DUDE!</span>
        </div>
        <div class="mt-8">
            <a href="/">
            <button class="hover:bg-blue-700  bg-gray-800 text-gray-300 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold py-2 sm:py-3 md:py-4 px-4 sm:px-5 md:px-6 lg:px-8 rounded-full">
                GET BACK!
            </button>
            </a>
        </div>
    </div>
</body>
<%- include('../components/footer') %>