
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Gloria+Hallelujah&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&family=Petemoss&display=swap');

.title{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 5em;
    color: rgb(5, 93, 246);
}
.slogan{
    font-size: 2em;
    font-family: "Niconne", cursive;
    font-weight: 400;
}