@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Gloria+Hallelujah&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&family=Petemoss&display=swap');

*{
  font-family: "Baloo Bhaijaan 2", sans-serif;
}


/* student homepage */
.menu-name:hover{
    font-weight: 600;
  }
  .hide{
    transform: translateX(-100%); 
    transition: transform 0.5s ease-in-out;
  }
  .show{
    transform: translateX(0); 
    transition: transform 0.5s ease-in-out;
  }
  .menu {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(140, 140, 142, 0.37);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba(255, 255, 255, 0.18); 
  }