<%- include('./components/header') %>

<style>
  .cursor {
    position: fixed; /* Make it fixed so it stays visible during scroll */
    z-index: 1000;   /* Ensure it appears above all other content */
    pointer-events: none; /* Prevent the cursor from interfering with clicks */
  }
</style>

<body class="body w-full h-full overflow-x-hidden">
  <div class="cursor w-16 h-16 rounded-full border-2 border-black absolute">
    <div class="cursor-inner w-full h-full rounded-full absolute" style="background-color: rgba(254, 253, 253, 0.69);"></div>
  </div>

  <div class="container w-screen h-auto" style="background-color: #000000;">
    <div class="navbar"></div>

    <!-- Page 1 -->
    <div class="page1 h-screen flex items-center justify-center" style="background-color: #DEE6E8;">
      <h1 class="text-10rem tracking-tight font-bold" style="font-family:fantasy;">
        class<span class="bg-black " style="color:  #DEE6E8;; font-family:fantasy;">Connect</span>
      </h1>
    </div>

    <!-- Page 2 -->
    <div class="page2 h-screen">
      <h1 class="text-white text-center text-5xl">Page 2</h1>
    </div>
  </div>

  <script>
    const cursor = document.querySelector('.cursor');
    
    // Track mouse movements
    window.addEventListener('mousemove', (event) => {
      const xPos = event.clientX;
      const yPos = event.clientY;
      
      cursor.style.left = `${xPos}px`;
      cursor.style.top = `${yPos}px`;
    });
  </script>

</body>

<%- include('./components/footer') %>
