<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClassConnect</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/font.css">
</head>
<body class="bg-gray-50 flex items-center justify-center min-h-screen">

  <!-- Centered Text -->
  <div class="text-center">
    <h1 class="text-6xl font-extrabold text-blue-600" id="title">
      <h1 class="title font-extrabold text-blue-600" id="title">
        <span>c</span><span>l</span><span>a</span><span>s</span><span>s</span><span>C</span><span>o</span><span>n</span><span>n</span><span>e</span><span>c</span><span>t</span>
      </h1>
      <h3 class="slogan">Learn Together, Grow Together!</h3>
    </h1>

    <div class="start">
      <button class="w-20 h-20 bg-gray-200 rounded-full "><a href="/student/register">lets go</a></button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="/javascripts/gsapanimation.js"></script>

</body>
</html>
